@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PizzaShop Admin</h1>
    <p>add pizza</a>.</p>
</div>


<form action="/FormHandler" method="get">
    <label for="id">Pizza id:</label>
    <input id="id" type="number" name="id" value="" required />
    <br />
    <label for="name">Pizza Name:</label>
    <input id="name" type="text" name="name" value="" required />
    <br />
     <label for="price">Enter Price:</label>
    <input id="price" type="text" name="price" value="" required />
    <br />
    <label for="desc">Pizza Description:</label>
    <input id="desc" type="text" name="desc" value="" required />
    <br />
    <label for="image">Imgae URL:</label>
    <input id="image" type="text" name="image" value="" required />

    <input type="submit"  name="submit" value="Submit"/>

</form>