/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets.


    https://replit.com/talk/share/Good-Pizza-Great-Pizza-A-pizza-site/145576

    https://good-pizza-great-pizza.bookie0.repl.co/

*/

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* card desing ----------*/

.card {
    margin:10% 5%;
    position: relative;
    max-width: 100%;
    border:none;
    
}


.card__image {
    border-radius:100%;
    position: absolute;
    max-width: 100%;
    left: -20%;
    right: 0;
    margin: 0 auto;
    top: -3%;
    z-index: 2;
    transition: all 0.3s ease-out;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

.card__data {
   border-radius:15px;
    
    background-color: #ededed;
    padding-top: 100%;
    transition: all 0.3s ease-out 0.1s;
}

.card__info {
    padding: 0 10px;
    margin-bottom: 20%;
}

    .card__info h2 {
        font-size: 24px;
        font-weight: 800;
    }

    .card__info p {
        font-size: 14px;
        line-height: 14px;
        color: #a2a2a2;
    }

.card__action {
    display: grid;
    grid-template: 30px / 1fr 35px;
}

.card__price {
    height: 30px;
    padding-bottom:20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.card__qty{
    overflow: hidden;
    width: 60%;
    height: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #222222;
    border: none;
    color: #fff;
    text-align:center;
    
    border-bottom-left-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in;
}
.card__add {
    overflow: hidden;
    width: 40%;
    height: 50px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: #222222;
    border: none;
    color: #fff;
   
    border-bottom-right-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in;
}

    .card__add:hover {
        background-color: #8a0000;
        opacity: 0.8;
        transform: scale(1.1);
    }

    .card__add:active {
        opacity: 1;
        transform: scale(0.8);
    }

.card:hover .card__image {
    max-width: 110%;
    top: -10%;
}

.card:hover .card__data {
    transform: translateY(-1px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}